services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: project-management-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  api:
    build:
      context: .
      dockerfile: src/Project.Management.Api/Dockerfile
    container_name: project-management-api
    ports:
      - "8080:8080"
    environment:
      RabbitMq__Enabled: "true"
      RabbitMq__UseInMemory: "false"
      RabbitMq__HostName: "rabbitmq"
      RabbitMq__Port: "5672"
      RabbitMq__UserName: "guest"
      RabbitMq__Password: "guest"
      RabbitMq__VirtualHost: "/"
      RabbitMq__QueueName: "user.create"
    depends_on:
      - rabbitmq
